<form id="data" action="index.php?sub=npl" method="post" enctype="multipart/form-data">
	First Name: <input type="text" name="first" value="Dastgir" /><br/><br/>
	Last Name: <input type="text" name="last" value="Pojee" /><br/><br/>
	File: <input name="image" type="file" /><br/><br/>
	<button>Submit</button><br/><br/>
</form>
<br/>
<br/>
<br/>
You can also test the GET/POST/FILES for python scripts from: <a href="test_py.html">Click Here to Redirect</a>